.water-mark { 
	color: gray; font-style: italic; 
}
.form2 {
	border: 1px solid #E1E1E1;
	background: url('/image/logo.png');
	padding: 20px 20px 20px;
   	-webkit-border-radius:4px;
   	-moz-border-radius:4px;
   	border-radius:4px;
}
.form2 .name {
	display: block;
	width: 100px;
	text-align: center;
} 
